<?xml version="1.0" encoding="utf-8"?>
<InstallSettings>
	
	<!-- If blank, no log file will be generated.
	     The log file location will be the
	     SitecoreInstallFolder.
	-->
	<LogFileName>InstallLog.txt</LogFileName>
	
	<!-- Path of downloaded zip file from Sitecore -->
	<SitecoreZipPath>C:\SitecoreDownload\Sitecore 8.0 rev. 150621.zip</SitecoreZipPath>
	
	<!-- If true, then user prompts will
	     not be bypassed. For example, if
	     the script cannot determine that SQL
	     has FullControl over database files, then
	     a dialog prompt will be displayed asking
	     if the script should continue unless this
	     property is set to true.
	-->
	<SuppressPrompts>false</SuppressPrompts>

	<WebServer>

		<LicenseFilePath>C:\SitecoreLicense\license.xml</LicenseFilePath>
		
		<SitecoreInstallRoot>C:\inetpub\wwwroot</SitecoreInstallRoot>
		
		<!-- Folder will be created at the SitecoreInstallRoot
		     if it does not already exist.
		-->
		<SitecoreInstallFolder>mypsinstall</SitecoreInstallFolder>
		
		<IISWebSiteName>MyPsInstall</IISWebSiteName>
		
		<DefaultRuntimeVersion>v4.0</DefaultRuntimeVersion>
		
		<!-- Valid values are:
		      - NetworkService
		      - ApplicationPoolIdentity
		      - Any domain account in the form <domain>\<username>
		     If you supply a domain account, you must
		     also provide a valid password for the account
		-->
		<AppPoolIdentity>EVADEV\SCTest_AppPool</AppPoolIdentity>
		<AppPoolIdentityPassword>P&amp;ssword</AppPoolIdentityPassword>
		
		<IISBindings>
			<Binding IP="*" Port="80" HostHeader="mypsi" />
			<Binding IP="10.10.20.11" Port="80" HostHeader="mypsi2" />
		</IISBindings>

    <CMServerSettings enabled="true">
      <!-- This setting is only required for CM servers in an environment that has more than one CM. -->          
      <InstanceName>MyPSI-CM</InstanceName>
      <!-- Defines the name of the folder in App_Config/Include that the Sitecore.Publishing.DedicatedInstance.config will be placed in. -->
      <LastChildFolderOfIncludeDirectory>zzzMustBeLast</LastChildFolderOfIncludeDirectory>
      
      <!-- Use these settings to dedicate a Sitecore instance as the Publishing server. -->
      <Publishing>
        <PublishingInstance>MyPSI-CM</PublishingInstance>
        <!-- Timeout length in minutes for IIS App Pool -->
        <AppPoolIdleTimeout>600</AppPoolIdleTimeout>
        <Parallel enabled="true">
          <!-- If set, the autogrowth for data and log files of
               the web database and any copy of the web database
               will be based on a fixed size of MB rather than
               a percentage. This follow recommendations from Sitecore.
               Recommended values range from 30 to 50.
               Valid values range from 10 to 100.
          -->
          <WebDatabaseAutoGrowthInMB>30</WebDatabaseAutoGrowthInMB>
          <MaxDegreesOfParallelism>4</MaxDegreesOfParallelism>
        </Parallel>
      </Publishing>
    </CMServerSettings>

    <CDServerSettings enabled="false">
		<!-- Valid values are "true" or "false"
		     Invalid values or missing elements will 
		     be treated as "false"
		-->
		<ApplyIPWhitelist>false</ApplyIPWhitelist>
		<!-- Enabling this will cause recommended connection strings to be commented out -->
		<DeactivateConnectionStrings>false</DeactivateConnectionStrings>
		<!-- Enabling this setting causes files on the CD server
		   to have ".disabled" concatenated to their filename.
		   The files changed are from the recommendations here:
		   https://doc.sitecore.net/sitecore%20experience%20platform/xdb%20configuration/configure%20a%20content%20delivery%20server
		-->
		<ConfigureFilesForCD>true</ConfigureFilesForCD>
		<!-- Defines the name of the folder in App_Config/Include that the SwitchMasterToWeb.config will be placed in. -->
		<LastChildFolderOfIncludeDirectory>zzzMustBeLast</LastChildFolderOfIncludeDirectory>
		<!-- Denies anonymous users from accessing certain directories per Sitecore's recommendations -->
		<PreventAnonymousAccess>false</PreventAnonymousAccess>
		<!-- Prevent the execution of scripts or programs in the upload and temp folders -->
		<DenyExecutePermission>false</DenyExecutePermission>
    </CDServerSettings>
	
	  <!-- Hardened directories in IIS will deny
		   all clients except the following IPs
	  -->
	  <IPWhiteList>
		  <IP>127.0.0.1</IP>
		  <IP>10.10.20.7</IP>
		  <IP>10.10.20.11</IP>
	  </IPWhiteList>

		<!-- Valid values are:
		     - InProc
		     - MSSQL
		     - Mongo (currently not supported by the installer)
		-->
		<SessionStateProvider>mssql</SessionStateProvider>
	
		<Solr>
		    <!-- If provided, the installer will modify the
			     Sitecore.ContentSearch.Solr.DefaultIndexConfiguration.config.example
			     file to use the given address
		    -->
			<ServiceBaseAddress>http://tomcat:8080/solr</ServiceBaseAddress>
		</Solr>

		<MongoDb>	
			<!-- If specified, the default host name used 
			     used in connection strings for Mongo will be
			     replaced with the given host name.
			     For example:
				  before:                <add name="analytics" connectionString="mongodb://localhost/analytics" />
				  after (with Port):     <add name="analytics" connectionString="mongodb://MyMongoHost:8888/analytics" />
				  after (Port blank):    <add name="analytics" connectionString="mongodb://MyMongoHost/analytics" />
			-->	
			<HostName>MyMongoHost</HostName>
			<Port>27017</Port>
		</MongoDb>
    
	</WebServer>

  <Database>

    <!-- Valid values are "true" or "false"
		 invalid values or missing element will 
		  be treated as "false"
         Note that even if you do not install the
         database, database mappings and permissions
         will still be written.
	  -->
	  <InstallDatabase>true</InstallDatabase>

    <!-- Do not edit this list unless you know what you are
         doing! :) This list represents the all the default
         databases used by Sitecore.
    -->
    <DatabaseNames>
      <name>Core</name>
      <name>Master</name>
      <name>Web</name>
      <name>Sessions</name>
      <name>Reporting</name>
    </DatabaseNames>

    <!-- Add <copy> elements for each duplicate web database to be created -->
    <WebDatabaseCopies>
      <copy>Preview</copy>
    </WebDatabaseCopies>

    <!-- The format is: {sqlservername[\instancename]}[,{port}]
         Examples
           - vmwebdev01
           - vmwebdev01,1433
           - vmwebdev01\myinstance
           - vmwebdev01\myinstance,1433
	  -->
	  <SqlServerName>vmsql01</SqlServerName>
	
	  <!-- This login is used to attach databases
		   and assign roles in SQL. The login must
		   have the sysadmin server role.
	  -->
	  <SqlLoginForInstall>SC_InstallAccount</SqlLoginForInstall>
	  <SqlLoginForInstallPassword>P&amp;ssword</SqlLoginForInstallPassword>
		
	  <!-- If specified, this login will be used
		   in connection strings. Only SQL logins
		   are valid.
	  -->
	  <SqlLoginForDataAccess>SC_DataAccess</SqlLoginForDataAccess>
	  <SqlLoginForDataAccessPassword>P&amp;ssword</SqlLoginForDataAccessPassword>
	
	  <!-- If true, then the ApplicationPoolIdentity will
		   be used for the SQL login rather than SqlLoginForDataAccess.
		   This setting requires a domain account is specified
		   for the ApplicationPoolIdentity.
	  -->
	  <UseWindowsAuthenticationForSqlDataAccess>true</UseWindowsAuthenticationForSqlDataAccess>

	  <DatabaseInstallPath>
		  <!-- Must be defined, and folder must exist. The
		       SQL instance must have FullControl over the
		       folder. This value is used to attach the databases
		       in SQL. If the Unc value is missing, this is
		       also the path used as the destination for SQL
		       database file copying.
		  -->
		  <Local>C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER14\MSSQL\DATA\MyPsInstall</Local>
		  
		  <!-- If defined this path will be used to copy
		       database files into the file system of the
		       SQL server.
		  -->
		  <Unc>\\vmsql01\MyPsInstall</Unc>
	  </DatabaseInstallPath>


	  <DatabaseNamePrefix>mypsinstall_</DatabaseNamePrefix>

  </Database>

</InstallSettings>
